/* Body */
body {
    display: flex;
    flex-direction: column;
    background-color: beige;
    border: 8px;

}
/* Logo */
.header p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #881bbb00;
    color: white;
    height: auto;
    width: auto;
    flex: 2;
}
/* Main */
main {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    flex: auto;
}

/* Article */
article {
    flex: 2;
    overflow-y: auto;
}

/* Aside */
aside {
    flex: 1;
    overflow-y: auto;
}
